<!-- librarian_view.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Librarian Dashboard</title>
  </head>
  <body>
    <h1>Librarian Dashboard</h1>
    <h2>Welcome, {{ user.username }}</h2>

    <h3>Your Library</h3>
    <p>Library: {{ user.userprofile.library.name }}</p>

    <h3>Books in {{ user.userprofile.library.name }}</h3>
    <ul>
      {% for book in user.userprofile.library.books.all %}
      <li>
        {{ book.title }} by {{ book.author.name }} (Published {{
        book.publication_year }})
      </li>
      {% endfor %}
    </ul>

    <h3>Manage Books</h3>
    <a
      href="{% url 'admin:book_store_book_changelist' %}?library__id__exact={{ user.userprofile.library.id }}"
      >View All Books in {{ user.userprofile.library.name }}</a
    >
    <a href="{% url 'admin:book_store_book_add' %}"
      >Add New Book to {{ user.userprofile.library.name }}</a
    >
  </body>
</html>
